[submodule "cli"]
	path = cli
	url = https://github.com/magnetsystems/r2m-cli.git
[submodule "examples"]
	path = examples
	url = https://github.com/magnetsystems/r2m-examples.git
[submodule "javascript"]
	path = javascript
	url = https://github.com/magnetsystems/r2m-sdk-js.git
[submodule "plugin-android"]
	path = plugin-android
	url = https://github.com/magnetsystems/r2m-plugin-android
[submodule "plugin-ios"]
	path = plugin-ios
	url = https://github.com/magnetsystems/r2m-plugin-ios
[submodule "rest2mobile-SDK-for-iOS"]
	path = rest2mobile-SDK-for-iOS
	url = git@github.com:magnetsystems/rest2mobile-SDK-for-iOS.git
