[submodule "cli"]
	path = cli
	url = https://github.com/magnetsystems/r2m-cli.git
[submodule "examples"]
	path = examples
	url = https://github.com/magnetsystems/r2m-examples.git
[submodule "ios"]
	path = ios
	url = git@github.com:magnetsystems/r2m-sdk-ios.git
[submodule "javascript"]
	path = javascript
	url = https://github.com/magnetsystems/r2m-sdk-js.git
[submodule "plugin-android"]
	path = plugin-android
	url = https://github.com/magnetsystems/r2m-plugin-android
